<div id="users_sub_nav_menu" style="position:absolute; width:565px; height:45px; z-index:200; left: 165px; top: 110px; visibility: visible;">
<!-- 	<center>
		<table width="100%" border="0" cellspacing="0" cellpadding="4">
			<tr align="center">
				<td><a href="#" class="nav_item_small" onClick="swapLayers('addusers')">Add User</a></td>
				<td>|</td>
				<td><a href="#" class="nav_item_small" onClick="swapLayers('delusers');">Delete User</a></td>
				<td>|</td>
				<td><a href="#" class="nav_item_small" onClick="swapLayers('modusers');">Modify User</a></td>
				<td>|</td>
				<td><a href="#" class="nav_item_small" onClick="swapLayers('lockusers');">Lock User</a></td>
				<td>|</td>
				<td><a href="#" class="nav_item_small" onClick="swapLayers('passreset');">Password Resets</a></td>
			</tr>
		</table>
		<hr>
	</center> -->
</div>
  
  
<div id="enteremail" style="visibility: visible; position:absolute; width:565px; height:385px; z-index:201; left: 165px; top: 130px;">
	<h3>Enter Account information below</h3>
	<form name="email_form" method="POST" action="nosession.cgi?action=anonsession&screen=User">
  	<div style="visibility: inherit; position: absolute; width: 565px; height: 165px; top: 80px; left: 0px; z-index: 202">
		<div style="visibility: inherit; position: absolute; width: 475px; height: 110px; top: 10px; left: 40px; z-index: 1000; border: 3px groove #9999FF">
			<table width="100%" align="center" border="0">
			<tr>
				<td style="font-size: 11px; font-weight: 900; color: #000099">
					Username:<font style="color:#FF0000; font-weight: 900; font-size: 11px">*</font>   
				</td>
				<td>
					<input name="username" style="font-size: 9px" type="text" size="15">
				</td>
			</tr>
			<tr>
				<td style="font-size: 11px; font-weight: 900; color: #000099">
					E-mail Address:<font style="color:#FF0000; font-weight: 900; font-size: 11px">*</font>  
				</td>
				<td>
					<input name="emailaddress" style="font-size: 9px" type="text" size="35">
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
				<button onmouseup="this.style.borderStyle = 'outset';" onmousedown="this.style.borderStyle = 'inset';" type="submit" style="border-style: outset; border-width: 3px; border-color: #6666CC">Submit</button>
				<button onmouseup="this.style.borderStyle = 'outset';" onmousedown="this.style.borderStyle = 'inset';" type="reset" style="border-style: outset; border-width: 3px; border-color: #6666CC">Clear</button>
				</td>
			</tr>
		</table>
	</div>
	</form>
</div>


<div style="position: absolute; visibility: hidden; top: 0px; left: 600px; width: 200px; height: 200px; z-index: 15000;">
	<form name="UnseenForm1">
		<select multiple name="selectbox" size="10" style="width: 200px">
		</select>
	</form>
	<form name="UnseenForm2">
		<select multiple name="selectbox" size="10" style="width: 200px">
		</select>
	</form>
</div>
</body>
</html>
