.nav_box {
	background-color: #B3B9CA;
	margin: 0px;
	padding: 15px;
	height: auto;
	width: auto;
	border: 3px ridge #9999FF;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.nav_items {
	font-weight:600;
	text-decoration:none;
	color: #000099;
	text-align: right;
}
.nav_item_small {
	font-weight:600;
	font-size: 10px;
	text-decoration:none;
	color: #000099;
	text-align: right;
}

  .prompt { color: rgb(51, 51, 153);
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    line-height: 13px;
    }

  .header { font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 50px;
    font-style: normal;
    color: rgb(33, 0, 102);
    text-align: right;
    }

  .small_link { font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-style: italic;
    text-decoration: underline;
    color: rgb(158, 79, 158);
    font-size: 9px;
    line-height: 15px;
    }

  .small_header { font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    color: rgb(33, 0, 102);
    }

